a {
  color: green;
  margin: 10px;
}
body {
  background-color: #f8e8a6;
  margin: 15px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

container {
  display: flex;
  justify-content: space-around;
}

.email {
  color: blue;
}
